<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 
  See http://nlog-project.org/wiki/Configuration_file 
  for information on customizing logging rules and outputs.
   -->
  <extensions>
    <add assembly="NLog.WindowsAzure.Configuration" />
  </extensions>
  <targets async="false">
    <!-- add your targets here -->
    <target xsi:type="Trace" name="TraceOut" layout="${cloudconfig:Name=SampleConfigOption} ${cloudconfig:Name=TestDefault:Default=Default} ${message}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="TraceOut" />
  </rules>
</nlog>